.seat-picker {
    padding: 8px;
    text-align: left;
}

.seat-picker .sp-search-button {
    border: 1px solid #ccc;
    background: #ddd;
    border-radius: 2px;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

.seat-picker .sp-table {
    border-spacing: 2px;
    table-layout: fixed;
}

.seat-picker .sp-table tr th {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.seat-picker .sp-table tr td {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    text-align: center;
 }

.seat-picker .sp-table tr td.editable {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
}

.seat-picker .sp-table tr td.highlight {
    background-color: yellow;
}

.seat-picker .sp-render-wrapper {
    width: 300px;
    overflow: auto;
}

.seat-picker .sp-render-area {
    position: relative;
    height: 140px;
}

.seat-picker .sp-render-area .block {
    position: absolute;
}

.seat-picker .sp-student-row-container {
    /*border: 1px solid #d0d0d0;*/
    border-radius: 2px;
}

.seat-picker .sp-student-row-container .sp-student-row {
    margin-bottom: 2px;
    background-color: #fff;
    line-height: 56px;
    padding-left: 4px;
    padding-right: 4px;
}

.seat-picker .sp-student-row-container .sp-student-row.last {
    margin-bottom: 0px;
}

.seat-picker .sp-student-row-container .sp-student-row .seat-coord {
    float: left;
    width: 20%;
    font-weight: 700;
}

.seat-picker .sp-student-row-container .sp-student-row .seat-student {
    float: left;
    width: 80%;
}

.seat-picker .sp-student-row-container .sp-student-row .seat-comment {
    float: left;
    width: 0%;
}

.seat-picker .sp-student-row-container .sp-student-row .seat-end {
    clear: both;
}

@media screen and (min-width: 420px) {
    .seat-picker .sp-render-wrapper {
        width: 355px;
    }
}

@media screen and (min-width: 620px) {
    .seat-picker .sp-render-wrapper {
        width: 555px;
    }
}

@media screen and (min-width: 820px) {
    .seat-picker .sp-render-wrapper {
        width: 755px;
    }
}

@media screen and (min-width: 1555px) {
    .seat-picker .sp-render-wrapper {
        width: 1280px;
    }
}