.m0 {
    margin: 0 !important;
}

.m0l {
    margin-left: 0 !important;
}

.m0r {
    margin-right: 0 !important;
}

.m0t {
    margin-top: 0 !important;
}

.m0b {
    margin-bottom: 0 !important;
}

.m0v {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m0s {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m4l {
    margin-left: 4px;
}

.m4t {
    margin-top: 4px;
}

.m4r {
    margin-right: 4px;
}

.m4b {
    margin-bottom: 4px;
}

.m4v {
    margin-top: 4px;
    margin-bottom: 4px;
}

.m4s {
    margin-left: 4px;
    margin-right: 4px;
}

.m4 {
    margin: 4px;
}

.m8l {
    margin-left: 8px;
}

.m8t {
    margin-top: 8px;
}

.m8r {
    margin-right: 8px;
}

.m8b {
    margin-bottom: 8px;
}

.m8v {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m8s {
    margin-left: 8px;
    margin-right: 8px;
}

.m8 {
    margin: 8px;
}

.m12l {
    margin-left: 12px;
}

.m12t {
    margin-top: 12px;
}

.m12r {
    margin-right: 12px;
}

.m12b {
    margin-bottom: 12px;
}

.m12v {
    margin-top: 12px;
    margin-bottom: 12px;
}

.m12s {
    margin-left: 12px;
    margin-right: 12px;
}

.m12 {
    margin: 12px;
}

.m16l {
    margin-left: 16px;
}

.m16t {
    margin-top: 16px;
}

.m16r {
    margin-right: 16px;
}

.m16b {
    margin-bottom: 16px;
}

.m16v {
    margin-top: 16px;
    margin-bottom: 16px;
}

.m16s {
    margin-left: 16px;
    margin-right: 16px;
}

.m16 {
    margin: 16px;
}

.m20l {
    margin-left: 20px;
}

.m20t {
    margin-top: 20px;
}

.m20r {
    margin-right: 20px;
}

.m20b {
    margin-bottom: 20px;
}

.m20v {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m20s {
    margin-left: 20px;
    margin-right: 20px;
}

.m20 {
    margin: 20px;
}

.p0 {
    padding: 0 !important;
}

.p0l {
    padding-left: 0 !important;
}

.p0r {
    padding-right: 0 !important;
}

.p0t {
    padding-top: 0 !important;
}

.p0b {
    padding-bottom: 0 !important;
}

.p0v {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p0s {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p4l {
    padding-left: 4px;
}

.p4t {
    padding-top: 4px;
}

.p4r {
    padding-right: 4px;
}

.p4b {
    padding-bottom: 4px;
}

.p4v {
    padding-top: 4px;
    padding-bottom: 4px;
}

.p4s {
    padding-left: 4px;
    padding-right: 4px;
}

.p4 {
    padding: 4px;
}

.p8l {
    padding-left: 8px;
}

.p8t {
    padding-top: 8px;
}

.p8r {
    padding-right: 8px;
}

.p8b {
    padding-bottom: 8px;
}

.p8v {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p8s {
    padding-left: 8px;
    padding-right: 8px;
}

.p8 {
    padding: 8px;
}

.p12l {
    padding-left: 12px;
}

.p12t {
    padding-top: 12px;
}

.p12r {
    padding-right: 12px;
}

.p12b {
    padding-bottom: 12px;
}

.p12v {
    padding-top: 12px;
    padding-bottom: 12px;
}

.p12s {
    padding-left: 12px;
    padding-right: 12px;
}

.p12 {
    padding: 12px;
}

.p16l {
    padding-left: 16px;
}

.p16t {
    padding-top: 16px;
}

.p16r {
    padding-right: 16px;
}

.p16b {
    padding-bottom: 16px;
}

.p16v {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p16s {
    padding-left: 16px;
    padding-right: 16px;
}

.p16 {
    padding: 16px;
}

.p20l {
    padding-left: 20px;
}

.p20t {
    padding-top: 20px;
}

.p20r {
    padding-right: 20px;
}

.p20b {
    padding-bottom: 20px;
}

.p20v {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p20s {
    padding-left: 20px;
    padding-right: 20px;
}

.p20 {
    padding: 20px;
}